.BeliefsListItem {
  padding: 75px 0px;
}
.BeliefsListItem {
  border-radius: 5px;
}
.BeliefsListItem:nth-child(odd) {
  background-color: #f6f6f6;
}

.BeliefsListItem .wrapper {
  max-width: 800px;
}

.BeliefsListItem__head {
  color: var(--color-red);
  font-size: 24px;
  letter-spacing: 0.75px;
  margin-bottom: 15px;
}
