.Cover {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: var(--color-dark);
}
.Cover__content {
  position: relative;
  width: 100%;
  height: calc(100vh - 175px);
  min-height: 480px;
  max-height: 800px;
}

.Cover__image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("./images/church_image.png");
  background-size: cover;
  background-position: center bottom;
  box-sizing: border-box;
  object-fit: cover;
  backface-visibility: hidden;
  filter: grayscale(1) opacity(0.5);
}

.Cover__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 50, 56, 0.6);
}
.Cover__overlay--gradient-diagonal {
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 50%);
  background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%);
  background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}
.Cover__overlay--gradient-top-bottom {
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.Cover__image--staticImage {
  animation-name: fadeIn, zoomOut;
  opacity: 1.0;
}
.Cover--animate .Cover__image--staticImage {
  opacity: 1.0;
  animation-iteration-count: 1, 1;
  animation-duration: 2s, 1.5s;
  animation-delay: 0s, 0s;
  animation-timing-function: linear, ease;
}

.Cover__image--blurredImage {
  filter: grayscale(1) opacity(1) blur(100px);
  opacity: 0;
}
.Cover--animate .Cover__image--blurredImage {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease;
}

@keyframes fadeOut {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.0;
  }
}

@keyframes zoomOut {
  from {
    left: -50%;
    width: 200%;
    height: 200%;
  }
  to {
    left: 0%;
    width: 100%;
    height: 100%;
  }
}
